#header{
    background-color: #fff !important;
    color: red !important;
    box-shadow: 0px 0px 3px 0px #fffooo;
}

#header a:link, #header a:visited{
    color: #000 !important;
}

div.breadcrumbs{
    background-color: grey !important;
}

.module h2, .module caption, .inline-group h2{
    background-color: grey !important;

}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: red;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}